html, body {
    height: 100%;
    width: 100%;
}


#game-container {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.question-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    gap: 10px;
}
.question-container .title {
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.question-container .title .point {
    color: #40f;
    font-weight: normal;
    font-size: 12px;
}

.question-container:has(.wrong) .title .point {
    color: red
}
.question-container .content {
    font-size: 1.2em;
    font-style: italic;
}
.answers-container:has(.answered) button{
    background: #ccc;
    color: #888;
}
.answers-container button.answered {
    border: 2px solid#40f;
    color: #40f;
}
.answers-container button.wrong {
    border-color: red;
    color: red;
}
.answers-container button.answered span {
    margin: 10px;
    font-size: 13px;
    color: inh;
}