* {
    font-family: "Courier Prime", monospace !important;
    color: white;
}
html, body {
    height: 100%;
    width: auto;
    padding: 10px;
}

.blink_me {
    animation: blinker .6s linear infinite;
  }
  @keyframes blinker {
    50% {
        opacity: 0;
    }
  }
  
body {
    background-image: linear-gradient(to right, darkslategray , darkslateblue);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border: 0;
    border-radius: 10px;
    box-shadow: -3px 3px 10px orange;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    max-width: 600px;
}
h1 {
    font-size: 16px;
    line-height: 18px;
}
h1:nth-child(1) {
    text-align: center;
    color: transparent;
    font-size: 25px; 
    line-height: 25px;
    background-image: linear-gradient(to right, red , orange);
    background-clip: text;
}
::-webkit-scrollbar {
    display: none;
    width: 0px;
}
#game-canvas {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: none;
    color: inherit;
    padding: 0px;
    overflow-y: scroll;
    border-radius: 10px;
}
game-canvas >div {
    max-height: 100%;
    flex: 1;
}
#game-canvas .ui-tabs-panel {
    flex: 1;
    color: inherit;
    height: 30px;
}
#game-canvas .ui-tabs-nav {
    display: flex; 
    justify-content: center;
    height: 30px;
}
#game-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: inherit;
}
#user-info {
    color: yellow;
}
.header-score {
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}
#game-container #user-info {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.question-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    gap: 10px;
}
.question-container .title {
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.question-container .title .point {
    font-size: 0.8em;
}

.question-container:has(.wrong) * {
    color: red
}
.question-container:not(:has(.wrong)) * {
    color: white;
}

.question-container .content {
    font-size: 1em;
    font-style: italic;
}
.answers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    flex: 1;
}
.answers-container button, .answers-container button.ui-widget {
    flex: 1;
    min-width: calc(50% - 10px);
    background: white;
    font-size: 13px;
    color: black;
}
.answers-container:has(.answered) button:not(.answered) {
    color: gray;
    background: #ccc;

}
.answers-container button.answered:not(.wrong) {
    box-shadow: 0px 0px 10px lightgreen;
    color: blue;
}
.answers-container button.answered.wrong {
    box-shadow: 0px 0px 10px red;
    color: red;
}
.answers-container button.answered span {
    margin: 10px;
    font-size: 13px;
    color: inh;
}

.rank_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;    
}
.rank_item:nth-child(1) * {
    color: orange !important;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
.rank_item span:nth-child(2) {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.rank_item span:nth-child(3) {
    width: 20%;
    text-align: right;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.rank_item span:nth-child(4) {
    text-align: right;
    color: gray;
    max-width: calc(50% - 15px - 30px);
}

.rank_item:nth-child(2) span:nth-child(1) {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/009/342/544/small/winner-medal-clipart-design-illustration-free-png.png');
}
.rank_item:nth-child(3) span:nth-child(1) {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/009/305/628/small/winner-medal-clipart-design-illustration-free-png.png');
}
.rank_item:nth-child(4) span:nth-child(1) {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/009/391/440/small/winner-medal-clipart-design-illustration-free-png.png');
}
.rank_item:nth-child(2) span:nth-child(1), .rank_item:nth-child(3) span:nth-child(1), .rank_item:nth-child(4) span:nth-child(1){
    background-position: 50% 50%;
    background-size:contain;
    background-repeat: no-repeat;
    width: 30px;
    height: auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.nav-questions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-questions button {
    max-width: calc(50% - 10px);
}